@model ErgasiaMVC.Models.employee

@{
    ViewBag.Title = "Employee Details";
}

<h2>Employee</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.emp_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.minit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.minit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job_lvl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job_lvl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hire_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hire_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job.job_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.job_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.publisher.pub_name)
        </dt>

        <dd>
            @Html.ActionLink(Model.publisher.pub_name, "Details", "Publishers", new { id = Model.pub_id }, new { })
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.emp_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
