@model IEnumerable<ErgasiaMVC.Models.employee>

@{
    ViewBag.Title = "Employees";
}

<h2>Employees</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.minit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.job_lvl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hire_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.job.job_desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publisher.pub_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.minit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.job_lvl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hire_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.job.job_desc)
        </td>
        <td>
            @Html.ActionLink(item.publisher.pub_name, "Details", "Publishers", new { id = item.pub_id }, new { })
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.emp_id, modal = true }, new { data_target = "#modal-container", data_toggle = "modal" }) |
            @Html.ActionLink("Details", "Details", new { id=item.emp_id, modal = true }, new { data_target = "#modal-container", data_toggle = "modal" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.emp_id, modal = true }, new { data_target = "#modal-container", data_toggle = "modal" })
        </td>
    </tr>
}

</table>
