@model ErgasiaMVC.Models.sale

@{
    ViewBag.Title = "Details";
}

<h2>Sale</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ord_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ord_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payterms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payterms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.store.stor_name)
        </dt>

        <dd>
            @Html.ActionLink(Model.store.stor_name, "Details", "Stores", new { id = Model.stor_id }, new { })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title.title1)
        </dt>

        <dd>
            @Html.ActionLink(Model.title.title1, "Details", "Titles", new { id = Model.title_id}, new { })
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { store_id = Model.stor_id, ord_num = Model.ord_num, title_id = Model.title_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
