@model IEnumerable<ErgasiaMVC.Models.sale>

@{
    ViewBag.Title = "Sales";
}

<h2>All Sales</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ord_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payterms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.store.stor_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title.title1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ord_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payterms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.store.stor_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title.title1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { store_id = item.stor_id, ord_num = item.ord_num, title_id = item.title_id }) |
            @Html.ActionLink("Details", "Details", new { store_id = item.stor_id, ord_num = item.ord_num, title_id = item.title_id }) |
            @Html.ActionLink("Delete", "Delete", new { store_id = item.stor_id, ord_num = item.ord_num, title_id = item.title_id })
        </td>
    </tr>
}

</table>
