@model ErgasiaMVC.Models.sale

<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.store.stor_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title.title1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ord_date)
        </th>
    </tr>

    @foreach (var s in (List<ErgasiaMVC.Models.sale>)ViewBag.salesReportResult) {
    <tr>
        <td>
            @Html.ActionLink(s.store.stor_name, "Details", "Stores", new { id = s.stor_id, modal = true }, new { data_target = "#modal-container", data_toggle = "modal" })
        </td>
        <td>
            @Html.ActionLink(s.title.title1, "Details", "Titles", new { id = s.title_id, modal = true }, new { data_target = "#modal-container", data_toggle = "modal" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => s.ord_date)
        </td>
    </tr>
    }
</table>

