@model IEnumerable<ErgasiaMVC.Models.title>

@{
    ViewBag.Title = "Titles";
}

<h2>Titles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pubdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publisher.pub_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.titleauthors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(model => item.title_id)
        </td>
        <td>
            @Html.DisplayFor(model => item.pubdate)
        </td>
        <td>
            @Html.ActionLink(item.publisher.pub_name, "Details", "Publishers", new { id = item.pub_id, modal = true }, new { data_target = "#modal-container", data_toggle = "modal" })
        </td>
        <td>
            @foreach (var author in item.titleauthors) {
                @Html.ActionLink(author.author.au_lname + " " + author.author.au_fname, "Details", "Authors", new { id = author.au_id, modal = true }, new { data_target = "#modal-container", data_toggle = "modal" })
                <br />
            }
        </td>
        <td>
            @Html.DisplayFor(model => item.title1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.title_id, modal = true }, new { data_target = "#modal-container", data_toggle = "modal" }) |
            @Html.ActionLink("Details", "Details", new { id = item.title_id, modal = true }, new { data_target = "#modal-container", data_toggle = "modal" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.title_id, modal = true }, new { data_target = "#modal-container", data_toggle = "modal" })
        </td>
    </tr>
}

</table>
